@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    O e-commerce da SW é n-camadas e foi construído utilizando a plataforma .Net e outras
</p>
<p>
    tecnologias open source. A aplicação web foi escrita em ASP.NET MVC e suas camadas
</p>
<p>
    subjacentes em C# seguindo bons padrões arquiteturais, e o domínio da solução foi construído
</p>
<p>
    seguindo as premissas do DDD, a camada de infra-estrutura de acesso a dados foi usado um
</p>
<p>
    ORM.
</p>