<!-- Jumbotron -->
<div class="jumbotron">
    <h1> SW e-commerce S/A </h1>
    <p class="lead">O e-commerce da SW é n-camadas e foi construído utilizando a plataforma .Net e outras tecnologias open source. A aplicação web foi escrita em ASP.NET MVC e suas camadas subjacentes em C# seguindo bons padrões arquiteturais, e o domínio da solução foi construído seguindo as premissas do DDD, a camada de infra-estrutura de acesso a dados foi usado um ORM.</p>
    <p><a class="btn btn-lg btn-success" href="../compras/create" role="button">Comprar</a></p>
</div>
<!-- Site footer -->
<div class="footer">
    <p>&copy; @DateTime.Now.Year - Leonardo Bispo - ASP.NET</p>
</div>